@{
    Layout = "/Views/Shared/_AdminLayout.cshtml";
}

@model List<ApplicantInformationListVM>

<style>
    .mdl-data-table .mdl-data-table__cell--non-numeric {
        white-space: normal !important;
        word-wrap: break-word;
    }
</style>

<div class="mdl-cell mdl-cell--12-col-desktop mdl-cell--12-col-tablet mdl-cell--12-col-phone">
    <div class="mdl-card mdl-shadow--2dp">
        <div class="mdl-card__title">
            <h1 class="mdl-card__title-text">Bütün Başvurular</h1>
        </div>
        <div class="mdl-card__supporting-text no-padding">
            <div style="overflow-x:auto;">
                <table class="mdl-data-table mdl-js-data-table mdl-data-table--responsive" style="width: auto!important;">
                    <thead>
                        <tr>
                            <th class="mdl-data-table__cell--non-numeric">#</th>
                            <th class="mdl-data-table__cell--non-numeric">Resimler</th>
                            <th class="mdl-data-table__cell--non-numeric">Adı</th>
                            <th class="mdl-data-table__cell--non-numeric">Doğum Tarihi</th>
                            <th class="mdl-data-table__cell--non-numeric">İletişim</th>
                            <th class="mdl-data-table__cell--non-numeric">Açıklama</th>
                            <th class="mdl-data-table__cell--non-numeric">Dosya</th>
                            <th class="mdl-data-table__cell--non-numeric">Onay Durumu</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td class="mdl-data-table__cell--non-numeric">
                                    @if (item.ApprovalStatus == CAWA.Domain.Enums.ApprovalStatus.Approved)
                                    {
                                        <i class="material-icons">check</i>
                                    }
                                    else if (item.ApprovalStatus == CAWA.Domain.Enums.ApprovalStatus.Denied)
                                    {
                                        <i class="material-icons">cancel</i>
                                    }
                                    else
                                    {
                                        <i class="material-icons">arrow_forward</i>
                                    }
                                </td>
                                <td class="mdl-data-table__cell--non-numeric">

                                    <a href="@item.FirstPhotoPath" target="_blank">
                                        <img src="@item.FirstPhotoPath" style="max-width:50px; border-radius:100%" />
                                    </a>

                                    <a href="@item.SecondPhotoPath" target="_blank">
                                        <img src="@item.SecondPhotoPath" style="max-width:50px; border-radius:100%" />
                                    </a>

                                </td>
                                <td class="mdl-data-table__cell--non-numeric">
                                    @item.FullName
                                </td>
                                <td class="mdl-data-table__cell--non-numeric">
                                    @item.BirthDate.ToString("dd.MM.yyyy")
                                    <br>
                                    Yaş: @item.Age
                                </td>
                                <td class="mdl-data-table__cell--non-numeric">
                                    Email: <a href="mailto:@item.Email">@item.Email</a>
                                    <br>
                                    Telefon: @item.PhoneNumber
                                </td>
                                <td class="mdl-data-table__cell--non-numeric">
                                    @item.Description
                                </td>
                                <td class="mdl-data-table__cell--non-numeric">
                                    <a href="@item.PDFFilePath" target="_blank"><i class="material-icons">open_in_new</i> Görüntüle</a>
                                </td>
                                <td class="mdl-data-table__cell--non-numeric">
                                    @if (item.ApprovalStatus == CAWA.Domain.Enums.ApprovalStatus.Approved)
                                    {
                                        <i class="material-icons">check</i> 
                                        <P>Onaylandı</P>
                                    }
                                    else if (item.ApprovalStatus == CAWA.Domain.Enums.ApprovalStatus.Denied)
                                    {
                                        <i class="material-icons">cancel</i>
                                        <p>Reddedildi</p>
                                    }
                                    else
                                    {
                                        <i class="material-icons">arrow_forward</i>
                                        <p>İnceleme Aşamasında</p>
                                    }
                                    @item.Message
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>